@model LoginViewModel


 <div class="container row col-sm-8 mx-auto">
                <div class="col d-flex justify-content-center flex-column" style="min-height:56vh">
                    <h3 class="text-center">Login</h3>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                        <hr />
                        <div asp-validation-summary="All" ></div>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-2 control-label"></label>
                            
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            
                        </div>
                        <br>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                           
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 mt-2">
                                <input type="submit" class="btn corlaranja" value="Login" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>