@model projeto.ViewModel.ItemListViewModel
@{
    ViewData["Title"] = "Cardapio";
}
<h2>@Model.CategoriaAtual</h2>

    <div class="row row-cols-1 row-cols-sm-3" style="min-height:50vh">
        @foreach (var item in Model.Itens)
        {
            <partial name="_Card" for="@item"></partial>
        }
    </div>
