@model projeto.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Cardapio";
}
<partial name="_Carousel" />
<h2 class=" text-center my-3">Novidades da Casa</h2>
<div class="row row-cols-sm-3 row-cols-1 g-3">
    @foreach (var item in Model.ItensEmDestaque)
    {
        <partial name="_Card" for="@item"></partial>
    }
</div>
